#genCont{
    background-color: wheat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#shadowCons{
    background-color: yellowgreen;
    height: 21.7em;
    width: 50em;
    border-radius: 20% 20% 20% 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 0, 100% 50%, 50% 100% 0 50%);
}
#brightCons{
    background-color: tomato;
    height: 21em;
    width: 49em;
    Border-radius: 20% 20% 20% 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#console{
    background-color: teal;
    height: 20em;
    width: 48.5em;
    Border-radius: 20% 20% 20% 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
/******************************************************************************************************
*******************************************************************************************************
******************************************* LEFT PANEL ************************************************
*******************************************************************************************************
*******************************************************************************************************/


#leftSide{
    background-color: yellow;
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
#contSelect{
    background-color: greenyellow;
    height: 20%;
    width: 100%; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#select{
    height: 0.3em;
    width: 1.2em;
    background-color: palegreen;
    border: 1px solid black;
    margin-right: 0.5em;
}

/********************************
*********************************
*******   LEFT JOYSTICK   *******
*********************************
********************************/


#contLeftJoystick{
    background-color: red;
    height: 20%;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
#outsideJoystick{
    height: 3.5em;
    width: 3.5em;
    border: 1px solid black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#insideJoystick{
    height: 3em;
    width: 3em;
    background-color: palegreen;
    border: 1px solid black;
    border-radius: 100%;
}
/********************************
*********************************
*******   LEFT SPACE    *********
*********************************
********************************/
#leftSpace{
    background-color: green;
    height: 10%;
    width: 100%; 
}
/********************************
*********************************
************* CROSS *************
*********************************
********************************/
#contCross{
    background-color: palegreen;
    height: 30%;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
/********************************
*********************************
*******   TOP CROSS       *******
*********************************
********************************/
#cross{
    background-color: red;
    height: 5em;
    width: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#contTopCross{
    background-color: blueviolet;
    height: 33%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#leftTopCross{
    background-color: white;
    height: 100%;
    width: 33%;
}
#midTopCross{
    background-color: black;
    height: 100%;
    width: 33%;
}
#rightTopCross{
    background-color: gray;
    height: 100%;
    width: 33%;
}

/********************************
*********************************
*******   MID CROSS       *******
*********************************
********************************/
#contMidCross{
    background-color: orange;
    height: 33%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#leftMidCross{
    background-color: black;
    height: 100%;
    width: 33%;
}
#midMidCross{
    background-color: black;
    height: 100%;
    width: 33%;
}
#rightMidCross{
    background-color: black;
    height: 100%;
    width: 33%;
}





/********************************
*********************************
*******   BOT CROSS       *******
*********************************
********************************/
#contBotCross{
    background-color: brown;
    height: 33%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#leftBotCross{
    background-color: burlywood;
    height: 100%;
    width: 33%;
}
#midBotCross{
    background-color: black;
    height: 100%;
    width: 33%;
}
#rightBotCross{
    background-color: fuchsia;
    height: 100%;
    width: 33%;
}

/********************************
*********************************
*******  PHOTO BUTTON  **********
*********************************
********************************/
#contPhoto{
    background-color: teal;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#photoButton{
    background-color: fuchsia;
    height: 1.2em;
    width: 1.2em;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#intPhoto{
    background-color: fuchsia;
    height: 80%;
    width: 80%;
    border-radius: 100%;
    border: 1px solid black;
}

/******************************************************************************************************
*******************************************************************************************************
*******************************************   SCREEN   ************************************************
*******************************************************************************************************
*******************************************************************************************************/
#center{
    background-color: blue;
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;   
}
#screenFrame{
    background-color: yellow;
    height: 95%;
    width: 100%;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}
#screen{
    background-color: tomato;
    height: 85%;
    width: 85%;
    border: 5px solid black;
}
/******************************************************************************************************
*******************************************************************************************************
******************************************* RIGHT PANEL ***********************************************
*******************************************************************************************************
*******************************************************************************************************/
#rightSide{
    background-color: pink;
    height: 100%;
    width: 15%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;       
}
/********************************
*********************************
*******  START BUTTON     *******
*********************************
********************************/
#contStart{
    background-color: greenyellow;
    height: 20%;
    width: 100%; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#startCross{
    height: 1.2em;
    width: 1.2em;
    margin-left: 0.5em;
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#topStartCross{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#leftTopSC{
    height: 0.4em;
    width: 0.4em;
    background-color: red;
}
#midTopSC{
    height: 0.4em;
    width: 0.4em;
    background-color: black;
}
#rightTopSC{
    height: 0.4em;
    width: 0.4em;
    background-color: green;
}

#midStartCross{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

#leftMidSC{
    height: 0.4em;
    width: 0.4em;
    background-color: black;
}
#midMidSC{
    height: 0.4em;
    width: 0.4em;
    background-color: red;
}
#rightMidSC{
    height: 0.4em;
    width: 0.4em;
    background-color: black;
}




#botStartCross{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#leftBotSC{
    height: 0.4em;
    width: 0.4em;
    background-color: yellow;
}
#midBotSC{
    height: 0.4em;
    width: 0.4em;
    background-color: black;
}
#rightBotSC{
    height: 0.4em;
    width: 0.4em;
    background-color: blue;
}


/********************************
*********************************
*******     BUTTONS     *********
*********************************
********************************/
#contButtons{
    background-color: red;
    height: 30%;
    width: 100%; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
#contX{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 33%;
    width: 100%;
}
#xButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    height: 1.7em;
    width: 1.7em;
    border-radius: 100%;
    
}
#xText{
    height: 1.5em;
    width: 1.5em;
    border-radius: 100%;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contYA{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: red;
    height: 33%;
    width: 100%;
}
#yButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    height: 1.7em;
    width: 1.7em;
    border-radius: 100%;
}
#yText{
    height: 1.5em;
    width: 1.5em;
    border-radius: 100%;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
}
#aButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: turquoise;
    height: 1.7em;
    width: 1.7em;
    border-radius: 100%;
}
#aText{
    height: 1.5em;
    width: 1.5em;
    border-radius: 100%;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contB{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    height: 33%;
    width: 100%;
}
#bButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    height: 1.7em;
    width: 1.7em;
    border-radius: 100%;
}
#bText{
    height: 1.5em;
    width: 1.5em;
    border-radius: 100%;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
}


/********************************
*********************************
*******  RIGHT JOYSTICK  ********
*********************************
********************************/

#contRightJoystick{
    background-color: black;
    height: 30%;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#outsideRightJoystick{
    height: 3.5em;
    width: 3.5em;
    border: 1px solid wheat;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#insideRightJoystick{
    height: 3em;
    width: 3em;
    background-color: palegreen;
    border: 1px solid black;
    border-radius: 100%;
}
/********************************
*********************************
*********  HOME BUTTON  *********
*********************************
********************************/
#contHome{
    background-color: blue;
    height: 20%;
    width: 100%; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#homeButton{
    background-color: fuchsia;
    height: 1.2em;
    width: 1.2em;
    margin-left: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#intHome{
    background-color: fuchsia;
    height: 80%;
    width: 80%;
    border-radius: 100%;
    border: 1px solid black;

}